.App {
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  background: #ffffff;
  .link{
    display: inline-block;
    color: #38f;
    text-decoration: none;
    & + .link{
      margin-left: 20px;
    }
  }
}
